In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('emails.csv')

In [3]:
df

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,Email 5168,2,2,2,3,0,0,32,0,0,...,0,0,0,0,0,0,0,0,0,0
5168,Email 5169,35,27,11,2,6,5,151,4,3,...,0,0,0,0,0,0,0,1,0,0
5169,Email 5170,0,0,1,1,0,0,11,0,0,...,0,0,0,0,0,0,0,0,0,1
5170,Email 5171,2,7,1,0,2,1,28,2,0,...,0,0,0,0,0,0,0,1,0,1
5171,Email 5172,22,24,5,1,6,5,148,8,2,...,0,0,0,0,0,0,0,0,0,0

## Checking the df

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Columns: 3002 entries, Email No. to Prediction
dtypes: int64(3001), object(1)
memory usage: 118.5+ MB

In [5]:
df.describe()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
count,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,...,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000
mean,6.640565,6.188128,5.143852,3.075599,3.124710,2.627030,55.517401,2.466551,2.024362,10.600155,...,0.005027,0.012568,0.010634,0.098028,0.004254,0.006574,0.004060,0.914733,0.006961,0.290023
std,11.745009,9.534576,14.101142,6.045970,4.680522,6.229845,87.574172,4.314444,6.967878,19.281892,...,0.105788,0.199682,0.116693,0.569532,0.096252,0.138908,0.072145,2.780203,0.098086,0.453817
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,12.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,3.000000,1.000000,1.000000,2.000000,1.000000,28.000000,1.000000,0.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8.000000,7.000000,4.000000,3.000000,4.000000,2.000000,62.250000,3.000000,1.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,210.000000,132.000000,344.000000,89.000000,47.000000,77.000000,1898.000000,70.000000,167.000000,223.000000,...,4.000000,7.000000,2.000000,12.000000,3.000000,4.000000,3.000000,114.000000,4.000000,1.000000

## Data split

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X = df.drop(columns=['Email No.','Prediction'])
y = df['Prediction']

In [8]:
X_train,X_test,y_train,y_test = train_test_split(X,y)

## KNN

In [9]:
from sklearn.neighbors import KNeighborsClassifier

In [10]:
knn = KNeighborsClassifier().fit(X_train,y_train)

In [11]:
preds = knn.predict(X_test)

In [12]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [13]:
score = accuracy_score(y_test,preds)

In [14]:
score

0.8584686774941995

In [18]:
report = classification_report(y_test,preds,output_dict=True)

In [27]:
pd.DataFrame(report).transpose()

              precision    recall  f1-score      support
0              0.938300  0.861111  0.898050   936.000000
1              0.700461  0.851541  0.768647   357.000000
accuracy       0.858469  0.858469  0.858469     0.858469
macro avg      0.819381  0.856326  0.833349  1293.000000
weighted avg   0.872632  0.858469  0.862322  1293.000000

## SVM

In [23]:
from sklearn.svm import SVC

In [24]:
model = SVC().fit(X_train,y_train)

In [25]:
preds = model.predict(X_test)

In [26]:
score = accuracy_score(y_test,preds)
score

0.811291569992266

In [28]:
report = classification_report(y_test,preds,output_dict=True)

In [29]:
pd.DataFrame(report).transpose()

              precision    recall  f1-score      support
0              0.802977  0.979701  0.882579   936.000000
1              0.874172  0.369748  0.519685   357.000000
accuracy       0.811292  0.811292  0.811292     0.811292
macro avg      0.838575  0.674724  0.701132  1293.000000
weighted avg   0.822634  0.811292  0.782384  1293.000000